<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
    <form th:action="@{/admin/new}" th:method="POST" th:object="${user}" style="text-align: center">
        <label for="name">Name</label><br>
        <input type="text" id="name" th:field="*{name}"><br><br>

        <label for="surname">Surname</label><br>
        <input type="text" id="surname" th:field="*{surname}"><br><br>

        <label for="city">City</label><br>
        <input type="text" id="city" th:field="*{city}"><br><br>

        <label for="email">Email</label><br>
        <input type="email" id="email" th:field="*{email}"><br><br>

        <label for="password">Password</label><br>
        <input type="password" id="password" th:field="*{password}"><br><br>

        <input type="checkbox" id="isAdmin" th:name="admin" th:checked="${admin}">
        <label for="isAdmin">Admin</label><br><br>

        <input type="submit" value="Add">
    </form>
    <div style="text-align: end; margin: 16px">
        <a href="/logout">Logout</a>
    </div>
</body>
</html>